* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #0f0c29;
  --text-color: #fff;
  --accent: #00ffcc;
  --card-bg: rgba(0, 0, 0, 0.6);
}

body.dark {
  --bg-color: #f2f2f2;
  --text-color: #222;
  --accent: #006666;
  --card-bg: rgba(255, 255, 255, 0.6);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Orbitron", sans-serif;
  background: var(--bg-color);
  /* background: url("/assets/images/afqRSCeK.jpeg") no-repeat center center fixed; */
  background-size: cover;
  color: var(--text-color);
  transition: background 0.3s ease, color 0.3s ease;
}

.lessons-container {
  padding: 3rem 1.5rem;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.lesson-title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--accent);
  text-shadow: 0 0 10px var(--accent);
  margin-bottom: 1rem;
  animation: float 3s ease-in-out infinite;
  transition: all 0.3s ease-in-out;
}

.lesson-title:hover{
  font-size: 2.8rem;
}


@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.object {
  background-color: #000000;
  width: 100%;
  height: 500px;
  opacity: 1;
  z-index: 1000;
  overflow: hidden;
}
